.grid_6.push_3
  %h1 Origin12 Roster Signup
  = form_for user do |f|
    - if user.errors.any?
      #error_explanation
        %h2
          = pluralize(user.errors.count, "error")
          prohibited:
        %ul
          - user.errors.full_messages.each do |msg|
            %li= msg
    .clearfix
      .field.email
        = f.label :email, "Email"
        = f.text_field :email
      .field.password
        = f.label :password, "Password"
        = f.password_field :password
      .field.password_confirmation
        = f.label :password_confirmation, "Password Confirmation"
        = f.password_field :password_confirmation
    %hr
    .actions
      = f.submit "Sign Up"
      = link_to 'Cancel', root_path
