.grid_6.push_3
  %h1 Origin12 Roster Signup
  = form_for user do |f|
    - if user.errors.any?
      #error_explanation
        %h2
          = pluralize(user.errors.count, "error")
          prohibited:
        %ul
          - user.errors.full_messages.each do |msg|
            %li= msg
    .clearfix
      = f.fields_for :company_users do |company_employee_form|
        .field.company
          = company_employee_form.label :company_id, "Company"
          = company_employee_form.collection_select :company_id, Company.all, :id, :display_name, prompt: true
      = f.fields_for :employee do |employee_form|
        .field.first_name
          = employee_form.label :first_name, "First Name"
          = employee_form.text_field :first_name
        .field.last_name
          = employee_form.label :last_name, "Last Name"
          = employee_form.text_field :last_name
      .field.email
        = f.label :email, "Email"
        = f.text_field :email
      .field.password
        = f.label :password, "Password"
        = f.password_field :password
      .field.password_confirmation
        = f.label :password_confirmation, "Password Confirmation"
        = f.password_field :password_confirmation
    %hr
    .actions
      = f.submit "Sign Up"
      = link_to 'Cancel', :back
