!!!
%html
  %head
    %title Origin12
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.application
    .header
      .container_12
        .grid_2
          = image_tag 'origin-45px.png', :alt => 'Origin12'
        - if current_user
          = render 'layouts/menu_bar'
    .container_12
      = yield
    = content_for :exocontainer_12
    .footer
      About | Contact Us | Help
    :javascript
      $(function() {
        $('body > .header .nav').droppy({trigger: 'click', speed: 50});
      });
